name: fsek_mobile
description: Mobile application for the F-guild

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
#

version: 1.15.6122+1 #buildnumber incremented automatically in codemagic

environment:
  sdk: ">=2.15.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  characters: ^1.0.0 # required for flutter master branch 2020-08-04
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  #cupertino_icons: ^0.1.2
  provider: ^6.0.0 # For Blocs and more
  http: ^1.1.0 # For Http requests
  json_annotation: ^4.0.1 # For json serializing
  flutter_secure_storage: ^9.0.0 # For storing encryption keys for Boxes
  shared_preferences: ^2.0.6 # For web storage as well as small things, such as app theme
  firebase_messaging: ^14.6.8 # For Push notifications
  firebase_core: ^2.16.0
  equatable: ^2.0.3 # For State
  bloc: ^8.1.2 # For State
  flutter_bloc: ^8.1.3 # For State
  intl: ^0.18.0 # For Internationalization (not used yet)
  get_it: ^7.1.4 # For singleton service instances
  table_calendar: ^3.0.1 # For calender
  url_launcher: ^6.0.9 # For memes
  action_cable: ^1.2.0 # For messaging
  infinite_scroll_pagination: ^4.0.0 # For messaging
  linkable: ^3.0.1 # For making numbers, emails and links clickable
  flutter_html: ^3.0.0-beta.2 # For rendering HTMLq
  pull_to_refresh: ^2.0.0 # this already exists in flutter
  flutter_local_notifications: ^17.1.0 # For handling local notifications
  flutter_math_fork: ^0.7.1
  flutter_localizations:
    sdk: flutter
  flutter_image_compress: ^2.0.4
  pdf_render: ^1.3.0
  path_provider: any
  flutter_pdfview: ^1.2.2 # For PDF viewer
  permission_handler: ^11.0.0
  flutter_cached_pdfview: ^0.4.2 # For PDF viewer
  page_transition: ^2.0.9 # For page transitions
  turn_page_transition: ^0.3.0
  audioplayers: ^6.0.0
  cloud_firestore_web: ^3.7.1
  video_player_web: ^2.0.17
  wakelock_web: ^0.4.0
  firebase_core_platform_interface: ^5.0.0
  bloc_concurrency: ^0.2.2
  image_gallery_saver: ^2.0.3
  cached_network_image: ^3.3.0

  # flutter_gen: any
  audioplayers_web: any
  firebase_core_web: any
  firebase_messaging_web: any
  flutter_secure_storage_web: any
  shared_preferences_web: any
  url_launcher_web: any
  # flutter_web_plugins: any
  html: any
  photo_view: ^0.15.0
  package_info_plus: ^8.0.1
  connectivity_plus: ^3.0.3
  vector_math: any
dev_dependencies:
  json_serializable: ^6.7.1 # For Data serialization
  build_runner: ^2.0.5 # For building the JSON data object
  flutter_launcher_icons: ^0.13.1 # For easily building launch icons
  # The 4 below are for unit and integration testing

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/img/icon-512.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  generate: true
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - lib/l10n/
    - assets/
    - assets/audio/
    - assets/audio/moosegame.mp3
    - assets/audio/gameoverfart.mp3
    - assets/img/
    - assets/img/moose_game/
    - assets/img/memes/
    - assets/img/nollning-24/
    - assets/img/nollning-24/nolleguide/
    - assets/img/nollning-24/schedule/
    - assets/img/nollning-24/homescreen/
    - assets/data/guide/
    - assets/img/nollning-24/schema/
    - assets/img/nollning-24/karta/
    - assets/img/nollning-24/karta/extraAssets/
    - assets/img/nollning-24/nolleguide/
    - assets/img/nollning-24/nolleguide/kladguide/
    - assets/img/nollning-24/nolleguide/spex/
    - assets/img/nollning-24/nolleguide/organization_tree/
    - assets/img/nollning-24/nolleguide/people/
    - assets/img/nollning-24/schema/
    - assets/img/nollning-24/uppdrag/
    - assets/data/nollning-24/
    - assets/data/nolleguide_2024/

    - assets/img/nollning-24/schedule/

  fonts:
    - family: Brandon Grotesque
      fonts:
        - asset: assets/BrandonGrotesque-Regular.ttf
    - family: NF-Pixels
      fonts:
        - asset: assets/NFPixels-Regular.ttf
    - family: Testament
      fonts:
        - asset: assets/Testament-Medium.ttf

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
